RewriteEngine on

# RewriteRule \.(jpeg)$ - [F]
# RewriteRule \.(jpg)$ - [F]
# RewriteRule \.(gif)$ - [F]
# RewriteRule \.(png)$ - [F]
# RewriteRule \.(pdf)$ - [F]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 

RewriteRule . index.php